#navbar {
	padding-bottom: 15px;
	background-color: #6069c4;
}

.navbar-brand h1 {
	margin-top: 0;
  	margin-bottom: 0;
  	font-weight: bold;
  	color: #ffffff;
}

.navbar-brand {
	padding-top: 10px;
}

ul { 
	font-size: 2em;
	text-align: center;
	color: #ffffff;
}

span {
	color: #ffffff;
}

h2 {
	font-weight: bold;
	padding-bottom: 20px;
}
/* End of header */

/* Content */

section {
	background-color: #8acdde;

}

h3 {
	text-align: center;
	padding-top: 10px;
}

p {
	padding: 15px;
	padding-top: 5px;
}

